URI as object

Hi,

I'm not sure if it is not a correct behavior or I misunderstand something. 

**Current behavior**

Exporting a URI with Jackson JsonProperty annotation generates a schema `object` type. 

Example:

```java
    @Nullable
    @Max(1000)
    @JsonProperty(value = "repurchase-uri", required = false)
    private URI repurchaseUrl;
```

*Expected behavior*

The URI type in the schema is of `string`

**Current full schema**

```json
{
  "$schema" : "http://json-schema.org/draft-07/schema#",
  "$ref" : "#/definitions/ContactLensRepurchaseAdded",
  "definitions" : {
    "ContactLensRepurchaseAdded" : {
      "type" : "object",
      "properties" : {
        "business-entity" : {
          "type" : "string",
          "enum" : [ "MSX", "LINSEN" ]
        },
        "data" : {
          "type" : "object",
          "properties" : {
            "image-uri-large" : {
              "allOf" : [ {
                "$ref" : "#/definitions/URI"
              }, {
                "maximum" : 1E+3
              } ]
            },
            "image-uri-small" : {
              "allOf" : [ {
                "$ref" : "#/definitions/URI"
              }, {
                "maximum" : 1E+3
              } ]
            },
            "item-description" : {
              "type" : "string",
              "maxLength" : 200
            },
            "legacy-product-number" : {
              "type" : "object",
              "properties" : {
                "id" : {
                  "type" : "string",
                  "minLength" : 1,
                  "maxLength" : 64
                }
              },
              "required" : [ "id" ]
            },
            "master-sku" : {
              "type" : "object",
              "properties" : {
                "sku" : {
                  "type" : "string",
                  "minLength" : 1,
                  "maxLength" : 14
                }
              },
              "required" : [ "sku" ],
              "description" : "Master SKU of the ordered product (SKU)"
            },
            "ordered-product-sku" : {
              "type" : "object",
              "properties" : {
                "sku" : {
                  "type" : "string",
                  "minLength" : 1,
                  "maxLength" : 14
                }
              },
              "required" : [ "sku" ],
              "description" : "SKU of the concrete ordered product"
            },
            "repurchase-base-uri" : {
              "allOf" : [ {
                "$ref" : "#/definitions/URI"
              }, {
                "description" : "The URI is marked as deprecated for removal.",
                "maximum" : 1E+3
              } ]
            },
            "repurchase-id" : {
              "type" : "string"
            },
            "repurchase-uri" : {
              "allOf" : [ {
                "$ref" : "#/definitions/URI"
              }, {
                "maximum" : 1E+3
              } ]
            },
            "return-flag" : {
              "type" : "string",
              "enum" : [ "NOT_RETURNED", "RETURNED" ]
            }
          },
          "required" : [ "master-sku", "ordered-product-sku", "repurchase-id", "return-flag" ]
        },
        "event-name" : {
          "type" : "string",
          "description" : "The name of the event. The format of the name is not described and must only follow the JSON of RFC 8259. Must contain at least one non-whitespace character. Required.",
          "minLength" : 1
        },
        "event-version" : {
          "type" : "integer",
          "description" : "The event version is an upcounting integer value between 1 and 2147483647 The version should only change in case of incompatible changes. This means: new fields after an initial release should be optional in case of a compatible change. In case of a required new field the change is incompatible for consumers and the version number must be increased. Also removing fields creates incompatible changes. A better way is to mark outdated field as _deprecated_. Required.",
          "minimum" : 1,
          "maximum" : 2147483647
        },
        "gdpr-change" : {
          "type" : "boolean"
        },
        "marketing-customer-id" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "The ID value should (RFC 2119) a character sequence of none whitespace only Unicode characters with a maximum length of 42 characters.",
              "minLength" : 1
            }
          },
          "required" : [ "id" ]
        },
        "occured-on" : {
          "type" : "string",
          "description" : "The ISO 8601 date-time format with an offset, such as '2011-12-03T10:15:30.39623+01:00'. Required."
        },
        "recommendation-id" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "The ID value should (RFC 2119) a character sequence of none whitespace only Unicode characters with a maximum length of 42 characters.",
              "minLength" : 1
            }
          },
          "required" : [ "id" ]
        }
      },
      "required" : [ "business-entity", "event-name", "gdpr-change", "marketing-customer-id", "occured-on", "recommendation-id" ]
    },
    "URI" : {
      "type" : "object"
    }
  }
}

**Should full schema**

{
  "$schema" : "http://json-schema.org/draft-07/schema#",
  "$ref" : "#/definitions/ContactLensRepurchaseAdded",
  "definitions" : {
    "ContactLensRepurchaseAdded" : {
      "type" : "object",
      "properties" : {
        "business-entity" : {
          "type" : "string",
          "enum" : [ "MSX", "LINSEN" ]
        },
        "data" : {
          "type" : "object",
          "properties" : {
            "image-uri-large" : {
              "type" : "string",
              "maximum" : 1E+3
            },
            "image-uri-small" : {
              "type" : "string",
              "maximum" : 1E+3
            },
            "item-description" : {
              "type" : "string",
              "maxLength" : 200
            },
            "legacy-product-number" : {
              "type" : "object",
              "properties" : {
                "id" : {
                  "type" : "string",
                  "minLength" : 1,
                  "maxLength" : 64
                }
              },
              "required" : [ "id" ]
            },
            "master-sku" : {
              "type" : "object",
              "properties" : {
                "sku" : {
                  "type" : "string",
                  "minLength" : 1,
                  "maxLength" : 14
                }
              },
              "required" : [ "sku" ],
              "description" : "Master SKU of the ordered product (SKU)"
            },
            "ordered-product-sku" : {
              "type" : "object",
              "properties" : {
                "sku" : {
                  "type" : "string",
                  "minLength" : 1,
                  "maxLength" : 14
                }
              },
              "required" : [ "sku" ],
              "description" : "SKU of the concrete ordered product"
            },
            "repurchase-base-uri" : {
              "type" : "string",
              "description" : "The URI is marked as deprecated for removal.",
              "maximum" : 1E+3
            },
            "repurchase-id" : {
              "type" : "string"
            },
            "repurchase-uri" : {
              "type" : "string",
              "maximum" : 1E+3
            },
            "return-flag" : {
              "type" : "string",
              "enum" : [ "NOT_RETURNED", "RETURNED" ]
            }
          },
          "required" : [ "master-sku", "ordered-product-sku", "repurchase-id", "return-flag" ]
        },
        "event-name" : {
          "type" : "string",
          "description" : "The name of the event. The format of the name is not described and must only follow the JSON of RFC 8259. Must contain at least one non-whitespace character. Required.",
          "minLength" : 1
        },
        "event-version" : {
          "type" : "integer",
          "description" : "The event version is an upcounting integer value between 1 and 2147483647. The version should only change in case of incompatible changes. This means: new fields after an initial release should be optional in case of a compatible change. In case of a required new field the change is incompatible for consumers and the version number must be increased. Also removing fields creates incompatible changes. A better way is to mark outdated field as _deprecated_. Required.",
          "minimum" : 1,
          "maximum" : 2147483647
        },
        "gdpr-change" : {
          "type" : "boolean"
        },
        "marketing-customer-id" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "The ID value should (RFC 2119) a character sequence of none whitespace only Unicode characters with a maximum length of 42 characters.",
              "minLength" : 1
            }
          },
          "required" : [ "id" ]
        },
        "occured-on" : {
          "type" : "string",
          "description" : "The ISO 8601 date-time format with an offset, such as '2011-12-03T10:15:30.39623Z' or '2011-12-03T10:15:30.39623+01:00'. See also date-time with time-secfrac in RFC 3339 section 5.6. E.g. Required."
        },
        "recommendation-id" : {
          "type" : "object",
          "properties" : {
            "id" : {
              "type" : "string",
              "description" : "The ID value should (RFC 2119) a character sequence of none whitespace only Unicode characters with a maximum length of 42 characters.",
              "minLength" : 1
            }
          },
          "required" : [ "id" ]
        }
      },
      "required" : [ "business-entity", "event-name", "gdpr-change", "marketing-customer-id", "occured-on", "recommendation-id" ]
    }
  }
}
```

Hi @skohlmann,

Currently, this is the expected behavior.
The treating of certain classes as `"type": "string"` is being triggered through the `Option.ADDITIONAL_FIXED_TYPES` (refer to entry number 2 in the list of options: https://victools.github.io/jsonschema-generator/#generator-options).
This `Option` is included in the `OptionPreset.PLAIN_JSON`, which I assume you're using.
When this `Option` is enabled, the following classes are treated as `"type": "string"` instead of `"type": "object"`:
- `String`
- `Character`
- `char`
- `CharSequence`
- `LocalDate`
- `LocalDateTime`
- `LocalTime`
- `ZonedDateTime`
- `OffsetDateTime`
- `OffsetTime`
- `Instant`
- `ZoneId`
- `Date`
- `Calendar`
- `UUID`


I agree with you that there are (a lot of) other classes, that could be added to the above list (which is implemented in the [`SimpleTypeModule`](https://github.com/victools/jsonschema-generator/blob/995b1817ab6c0a7f77438364416d420e53f29432/jsonschema-generator/src/main/java/com/github/victools/jsonschema/generator/impl/module/SimpleTypeModule.java) class).

I'd suggest you extend this existing module with whatever other types you want to treat that way, e.g.
```java
SimpleTypeModule module = SimpleTypeModule.forPrimitiveAndAdditionalTypes()
        .withStringType(URI.class, "uri");
configBuilder.with(module);
```

The built-in list can also be extended. I'm happy to receive a pull request for it. 😉